*, ::after, ::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(#ff4890,#50a6fb);

    display: flex;
    align-items: center;
}

.sidebar {
    background-color: white;
    width: max-content;  /* This sets the width to fit the content, which might be making it appear larger */
    border-radius: 10px;
    padding: 2rem 1rem;  /* This adds padding that could contribute to the overall size */
}

.sidebar:hover .sidebar_element{
    grid-template-columns: 40px 1fr;
}

.sidebar_list{
    list-style: none;
    padding: 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sidebar_element{
    padding: 0.4rem 0.8rem;  /* Menos espacio interno */
    border-radius: 3px;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;
    color: #526581;
    fill: #8491a5;
    transition: grid-template-columns .3s ease;
}

.sidebar_element:not(:has(.sidebar_icon--logo)):hover{
    background-color: #007AFF;
    cursor: pointer;
    color: #fff;
    fill: #fff;
}

/*.sidebar_element:has(.sidebar_icon--logo){
    margin-bottom: 2rem;
}*/

.sidebar_icon{
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.sidebar_icon--logo{
    max-width: 30px; 
}

.sidebar_logo, .sidebar_text {
    padding-left: 1.3rem;
    white-space: nowrap;        /* No permite saltos de línea */
    overflow: hidden;           /* Oculta el texto que se sale */
    text-overflow: ellipsis;    /* Muestra "..." si el texto es muy largo */
}

.sidebar_hide{
    overflow: hidden;
}

@media (max-width: 900px) {
    .sidebar_icon {
        width: 18px;
        height: 18px;
    }
    .sidebar_icon--logo {
        max-width: 20px;
    }
    .sidebar_element {
        padding: 0.3rem 0.5rem;
    }
    .sidebar {
        padding: 1rem 0.5rem;
        max-width: 120px;
    }
}